/* Add white spacing between courses */

.card {
  margin-top: 0px;
  margin-bottom: 40px;
  width: 250px;
  min-width: 250px;
  max-width: 270px;
  box-shadow: 3px 3px 3px #adacac;
  border-radius: 5px;
}
.card img {
  border-radius: 5px;
}
.card-title {
  color: blue;
  margin: 0;
  padding: 0;
}
.card-text {
  font-size: small;
  margin: 0;
  padding: 0;
  opacity: 50%;
}
.card button {
  margin: 10px;
  float: right;
}
