.wd-course-navigation {
  background-color: white;
  list-style: none;
  padding: 0px;
  width: 75px;
  margin: 0px;
  box-sizing: none;
}
.wd-course-navigation li {
  padding-left: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.wd-course-navigation li.wd-active {
  border-left: 2px solid black;
}
.wd-course-navigation li.wd-active a {
  color: black;
}

.wd-course-navigation a {
  color: red;
  text-decoration: none;
}
body .row > * {
  padding-left: 0;
}