html,body{
  margin:0;
  }
.wd-kanbas-navigation {
  background-color: rgb(5, 5, 5);
  list-style: none;
  padding: 0px;
  width: 80px;
  margin: 0px;
  height: 100vh;
}
.wd-kanbas-navigation li img {
  width: 80px;
  height: 80px;
  position: relative;
  right: 10px
}

.wd-kanbas-navigation li {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 0.8em;
  text-align: center;
}

.wd-kanbas-navigation {
  z-index: 9998;
}

.wd-kanbas-navigation li.wd-active {
  background-color: white;
}
.wd-kanbas-navigation li.wd-active a {
  color: red;
}

.wd-kanbas-navigation a {
  color: white;
  text-decoration: none;
}


.wd-kanbas-navigation a i {
  color: red;
  font-size: 2em;
  margin-bottom: 5px;
}

body .row > * {
    padding-left: 0;
    padding-right: 0;
}
