.wd-kanbas-navigation {
  background: black;
  border-radius: 0px !important;
  border: none;
  height: 100vh;
  width: 100px;
  display: flex;
}

.wd-kanbas-navigation a {
  background-color: black;
  color: white;
  border-radius: 0px;
  border: none;
}

.list-group-item {
  padding-top: 7px !important;
  padding-left: 2px !important;
  padding-right: 3px !important;
  padding-bottom: 7px !important;
}

.text {
  color: red;
}

.wd-kanbas-navigation a.active {
  background-color: white;
  color: red;
}
.account {
  color: grey;
}
