
.top-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar-container .breadcrumb {
  display: flex;
  align-items: center;
  margin-bottom: 0; /* Remove default margin */
}


/* Hide the button on smaller screens and show a smaller version of the menu or a dropdown */
@media (max-width: 991.98px) {
  .btn.btn-secondary.btn-light {
      display: none;
  }
  /* Add styles for the smaller version of the menu or a dropdown here */
}
.btn-group {
  left: 80vh;
  margin: 10px;
}

.list-group {
  padding-right: 10px;
}

.top-bar-container .breadcrumb .breadcrumb-item a {
  color: red;
}

.list-group i {
  float: right;
}
a {
  text-decoration: none;
  color: red;
}
hr {
  width: 130vh;
}

.course-status li {
  list-style-type: none;
  position: relative;
  right: 30px;
  padding: 2px;
}
.course-status li a {
  width: 30vh;
  text-align: left;
}
